{% extends '::base.html.twig' %}

{% block body %}

    <input id="f_id" type="text" name="flight_id"/>
    <input type="button" id="submit" value="Query" onclick="f()"/>

    <div id="content">

    </div>

{% endblock %}

{% block javascripts %}
    <script>
        function f() {
            var f_id = document.getElementById('f_id').value;

            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    document.getElementById('content').innerHTML=xmlhttp.responseText;
                }
            }

            xmlhttp.open("get", "app_dev.php/flights/view/" + f_id, true);
            xmlhttp.send();
        }
    </script>
{% endblock %}